$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1440;

$colorsMap: (
  "black": "#030303",
  "white": "#FBFBFB",
  "gray-txt": "#66605B",
  "gray-inputs": "#B9B9B9",
  "gray-stroke": "#DADADA",
  "gray-base": "#F0F0F0",
  "violet": "#5E60CE",
  "yellow": "#F6C679",
  "yellow-light": "#F6D39B",
  "violet-light": "#D6D6FF",
  "green": "#92EDC1",
  "green-light": "#DFF5F0",
  "dark-violet": "#2A2B87",
  "violet-hover": "#8C8EEA",
  "red-error": "#E31B1B",
  "transparent": "transparent",
  "red-attention": "#D03D3D",
  "red-hover": "#F86565",
  "red-pressed": "#BC2929",
  "green-success": "#48B16E",
  "gold-light": "#F6C679",
  "gold-dark": "#C47A2C",
  "red-light": "#F5DDDD",
  "yellow-system": "#FFF3E0",
  "info-light": "#D8E9FF",
  "info": "#3B9BF4",
  "mns-green": "#00654D",
  "yellow-hover": "#FFE3B5",
  "mns-green-hover": "#014A37",
  "taxes-green": "#025A4A",
  "taxes-brown": "#F0D8B6",
  "taxes-gold": "#C47A2D",
  "taxes-gold-light": "#F9B974",
  "padatak-blue": "#044B67",
);

$transitionMap: (
  "2": ".2",
  "3": ".3",
);
$transition-2: all ease-out 0.2s;
$transition-3: all ease-out 0.3s;

$ff-roboto: "Roboto";
$ff-exo: "Exo 2";

$fontSizeMap: (10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 34, 44, 64);

$mouse-device: "(hover: hover) and (pointer: fine)";
$touch-device: "(hover: none)";
$ui-mobile: "screen and (max-width: 768px)"; //md
$ui-tablet: "screen and (max-width: 992px)"; //lg
$ui-laptop: "screen and (max-width: 1200px)"; //xl
$ui-bs-xs: "screen and (max-width: 576px)"; //sm
$ui-bs-sm: "screen and (min-width: 576px)"; //sm
$ui-bs-md: "screen and (min-width: 768px)"; //md
$ui-bs-lg: "screen and (min-width: 992px)"; //lg
$ui-bs-xl: "screen and (min-width: 1200px)"; //xl
$ui-bs-xxl: "screen and (min-width: 1400px)"; //xxl
$ui-bs-3xl: "screen and (min-width: 1600px)"; //3xl

@mixin hover($prop, $val) {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      #{$prop}: $val;
    }
  }
  @media (hover: none) {
    &:active {
      #{$prop}: $val;
    }
  }
}

:root {
  @each $name, $color in $colorsMap {
    --color-#{$name}: #{$color};
  }
  --base-font: 16px;
}

@each $name, $color in $colorsMap {
  .bg-#{$name} {
    background-color: #{$color} !important;
  }
  .color-#{$name} {
    color: #{$color};
  }
  .border-1-5-#{$name} {
    border: 1.5px solid #{$color};
  }
  .border-1-color-#{$name} {
    border: 1px solid #{$color};
  }
  .border-color-#{$name} {
    border-color: #{$color} !important;
  }
}

@each $name, $time in $transitionMap {
  .transition-#{$name} {
    transition: all ease-out #{$time}s;
  }
}

@each $name in $fontSizeMap {
  $result: calc($name / 16);
  .fs-#{$name} {
    font-size: #{$result} + rem !important;
  }
}
