@import "./libs/bootstrap.min.scss";
@import "./functional/normalize.scss";
@import "./functional/fonts.scss";
@import "./functional/bootstrap-icons.scss";
@import "./functional/variables.scss";
@import "./components/buttons.scss";
@import "./components/header.scss";
@import "./components/floating-label.scss";

body {
  font-family: $ff-roboto;
  background-color: lightgray;
}
.container {
  max-width: 1580px;
  padding-inline: 20px;
}
