@import "./libs/swiper.min";
@import "./functional/normalize";
@import "./functional/fonts";
@import "./functional/bootstrap-icons";
@import "./functional/variables";
@import "./components/accordion";
@import "./components/ui";
@import "./components/buttons";
@import "./components/header";
@import "./components/footer";
@import "./components/floating-label";
@import "./components/main-banner";
@import "./components/activity-block";
@import "./components/links";
@import "./components/tabs";
@import "./components/main-slider";
@import "./components/breadcrumbs";
@import "./components/document-card";
@import "./components/inputs";
@import "./components/checkboxes";
@import "./components/pagination";
@import "./components/cookies";
@import "./components/maps";

@import "./functional/overrides";

body {
  font-family: $ff-roboto;
  color: var(--color-black);
  background-color: var(--color-white);
  line-height: 1.25;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1580px;
  padding-inline: 16px;
}

.main {
  flex: 1 1 auto;
}
