@import "./libs/bootstrap.min.scss";
@import "./functional/normalize.scss";
@import "./functional/fonts.scss";
@import "./functional/bootstrap-icons.scss";
@import "./functional/variables.scss";
@import "./components/ui.scss";
@import "./components/buttons.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/floating-label.scss";
@import "./components/main-banner.scss";
@import "./components/activity-block.scss";
@import "./components/links.scss";
@import "./components/tabs.scss";

@import "./functional/overrides.scss";

body {
  font-family: $ff-roboto;
  color: var(--color-black);
  background-color: var(--color-white);
  line-height: 140%;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1580px;
  padding-inline: 20px;
}

.main {
  flex: 1 1 auto;
}
