<header class="header">
  <div class="header-container w-100">
    <div class="bg-gray-bg-illustr d-lg-block d-none">
      <div class="container">
        <div class="d-flex flex-row justify-content-between align-items-center flex-wrap w-100 py-2">
          <div class="language-block d-flex flex-row gap-3">
            <button class="language-button top-header-button active">
              РУС
            </button>
            <button class="language-button top-header-button">
              БЕЛ
            </button>
            <button class="language-button top-header-button">
              EN
            </button>
          </div>
          <div class="blind-block">
            <button class="blind-button top-header-button d-flex flex-row justify-content-center flex-wrap align-items-center">
              <span>
                Версия для слабовидящих
              </span>
              <i class="bi bi-eye"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-12">
      <div class="row align-items-center justify-content-between">
        <div class="col-xxl-3 col-lg-4 col-2">
          <a href="index.html" class="header-logo w-100 d-flex flex-row align-items-center gap-1">

            <img src="./img/icons/header-logo.png" alt="">

            <p class="d-lg-block d-none">
              Республиканское унитарное предприятие <br>
              «Информационно-издательский центр <br>
              по налогам и сборам»
            </p>
          </a>
        </div>
        <div class="col-lg-1 d-xxl-flex d-none"></div>
        <div class="col-xl-4 col-lg-3 d-lg-block d-none">


          <div class="search-block w-100">
            <form class="form-group d-flex flex-row align-items-center w-100" action="/search/">
              <div class="floating-label-content w-100">
                <input class="floating-input" type="text" name="q" value="" placeholder="">
                <label class="floating-label">Поиск</label>
              </div>
              <div class="ms-2">
                <button class="button-serach" type="submit" value="Поиск"></button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-2 w-lg-auto d-lg-block d-none">
          <div class="d-flex flex-column" bis_skin_checked="1">
            <a href="tel:8 (017) 269-19-19" class="link-tel-drop">
              8 (017) 269-19-19
            </a>
            <span class="ff-roboto fs-14 color-gray-txt lh-sm">Колл-центр</span>
          </div>
        </div>
        <div class="col-lg-2 w-lg-auto d-flex justify-content-end d-lg-block d-none">
          <p class="mb-0 fs-14 ff-roboto lh-sm ls-0 color-gray-txt">
            <span>Пн – Чт: с 8:45 до 18:00</span> <br>
            <span>Пт: с 8:45 до 16:45</span>
          </p>
        </div>
        <div>
          <button class="btn-default">Войти</button>
          <button class="btn-empty">Портал самообслуживания</button>
        </div>
      </div>
    </div>

  </div>
</header>