<header class="header">
  <div class="container">
    <div class="d-flex gap-3 align-items-center justify-content-between py-3">
      <div class="header-logo">
        <a class="d-flex flex-row align-items-center" href="/">
          <img src="./img/icons/header-logo.png" alt="" width="56" height="56">
          <p class="header-logo__text">
            Республиканское унитарное предприятие «Информационно-издательский центр поналогам и сборам»
          </p>
        </a>
      </div>


      <div class="search-block d-lg-block d-none">

        <form class="form-group d-flex flex-row align-items-center w-100" action="/search/">
          <div class="floating-label-content w-100">
            <input class="floating-input" id="title-search-input" type="text" name="q" maxlength="50" size="30" autocomplete="off">
            <label class="floating-label">Поиск</label>
          </div>
          <div class="ms-2">
            <button name="search" class="button-search" type="submit">
            </button>
          </div>
        </form>

      </div>
      <div class="d-none d-md-flex flex-column justify-content-center">
        <a href="tel:+ 375 17 269–19–19" class="header-contact color-violet">+ 375 17 269–19–19</a>
        <p class="mb-0">г. Минск, ул. Скорины, 8, 3 этаж</p>
      </div>
      <div class="d-md-block d-none">
        <p class="mb-0 color-gray-txt ff-roboto fs-14">
          Пн-Чт: с 8:45 до 18:00 <br>
          Пт: с 8:45 до 16:45
        </p>
      </div>

      <div class="d-lg-flex gap-3 d-none">
        <a href="https://new.ckta.by/" class="btn-default flex-shrink-0">
          Войти
        </a>
        <a href="https://new.ckta.by/" class="btn-empty flex-shrink-0">
          Портал самообслуживания
        </a>
      </div>
      <div class="mobile-header__content d-flex align-items-center gap-4">
        <form class="mobile-header__search-body w-100" action="">
          <input class="mobile-header__search-input input" type="text" placeholder="Поиск">
          <button type="submit"><i class="bi bi-search"></i></button>
        </form>

        <div class="mobile-header__search-btn">
          <i class="bi bi-search"></i>
        </div>
        <button class="mobile-header__menu">
          <span class="menu-bar"></span>
          <span class="menu-bar"></span>
          <span class="menu-bar"></span>
        </button>
        <button class="mobile-header__search-close hidden">
          <i class="bi bi-x"></i>
        </button>
      </div>

    </div>
    <div class="w-100 d-lg-block d-none">
      <nav class="header-nav">
        <a href="" rel="noopener noreferrer" class="link-header">
          Новости
        </a>
        <a href="http://ckta.by/#section1" rel="noopener noreferrer" class="link-header">
          Услуги и оплата
        </a>
        <a href="https://info-center.by/documents/dokumenty-skta/" rel="noopener noreferrer" class="link-header">
          Пользователям СККО
        </a>
        <a href="http://ckta.by/#section2" rel="noopener noreferrer" class="link-header">
          Документы
        </a>
        <a href="/faq/" rel="noopener noreferrer" class="link-header">
          База знаний
        </a>
        <a href="http://ckta.by/#section3" rel="noopener noreferrer" class="link-header">
          Контакты
        </a>
      </nav>
    </div>
  </div>
</header>