<header class="header">
  <div class="container">
    <div class="d-flex gap-2 align-items-center justify-content-between py-3">
      <div class="header-logo">
        <a class="d-flex flex-row align-items-center" href="/">
          <img src="./img/icons/header-logo.png" alt="" width="56" height="56">
          <p class="header-logo__text">
            Республиканское унитарное предприятие «Информационно-издательский центр поналогам и сборам»
          </p>
        </a>
      </div>

      <div class="search-block d-lg-block d-none">
        <form class="form-group d-flex flex-row align-items-center w-100" action="">
          <div class="floating-label-content w-100">
            <input class="floating-input" id="title-search-input" type="text" name="q" maxlength="50" size="30" autocomplete="off" placeholder="">
            <label class="floating-label">Поиск</label>
          </div>
          <div class="ms-2">
            <button name="search" class="button-search" type="submit">
            </button>
          </div>
        </form>
      </div>

      <div class="header-address flex-column justify-content-center">
        <a href="tel:+ 375 17 269–19–19" class="header-contact color-violet">+ 375 17 269–19–19</a>
        <p class="mb-0">г. Минск, ул. Скорины, 8, 3 этаж</p>
      </div>

      <div class="header-worktime">
        <p class="mb-0 color-gray-txt ff-roboto fs-14">
          Пн-Чт: с 8:45 до 18:00 <br>
          Пт: с 8:45 до 16:45
        </p>
      </div>

      <div class="d-lg-flex gap-3 d-none">
        <a href="#" class="btn-default flex-shrink-0">
          Войти
        </a>
        <a href="#" class="btn-empty flex-shrink-0">
          Портал самообслуживания
        </a>
      </div>

      <div class="mobile-header__content align-items-center gap-3">
        <div class="mobile-header__search-body hidden w-100">
          <div class="search-block d-flex flex-row align-items-center w-100">
            <form class="form-group d-flex w-100" action="/search/index.php">
              <div class="floating-label-content w-100">
                <input class="floating-input" type="text" name="q" value="" placeholder="">
                <label class="floating-label">Поиск</label>
              </div>
              <div class="ms-2">
                <button class="button-search" type="submit" value="Поиск"></button>
              </div>
            </form>
          </div>
        </div>

        <div class="mobile-header__search-btn">
          <i class="bi bi-search fs-24"></i>
        </div>
        <div class="mobile-header__tel dropdown">
          <button class="border-0 bg-white" type="button" data-bs-toggle="dropdown" aria-expanded="true">
            <i class="bi bi-phone fs-24"></i>
          </button>
          <div class="dropdown-menu px-12" data-popper-placement="bottom-end">
            <div class="d-flex flex-column">
              <div class="d-flex flex-column">
                <a href="tel:+375172691919" class="link-activity text-nowrap">
                  + 375 17 269–19–19
                </a>
                <span>Колл-центр</span>
              </div>
            </div>
          </div>
        </div>
        <button class="mobile-header__menu">
          <span class="menu-bar"></span>
          <span class="menu-bar"></span>
          <span class="menu-bar"></span>
        </button>
        <button class="mobile-header__search-close hidden">
          <i class="bi bi-x"></i>
        </button>
      </div>
    </div>
    <div class="mobile-header__nav">
      <ul class="d-flex flex-column gap-4 list-unstyled">
        <li><a class="text-uppercase color-white ff-exo fs-20" href="news.html">Новости</a></li>
        <li><a class="text-uppercase color-white ff-exo fs-20" href="">Услуги и оплата</a></li>
        <li><a class="text-uppercase color-white ff-exo fs-20" href="">Пользователям СККО</a></li>
        <li><a class="text-uppercase color-white ff-exo fs-20" href="">Документы</a></li>
        <li><a class="text-uppercase color-white ff-exo fs-20" href="">База знаний</a></li>
        <li><a class="text-uppercase color-white ff-exo fs-20" href="">Контакты</a></li>
      </ul>
      <div class="d-flex flex-wrap gap-3 mt-40">
        <a href="https://new.ckta.by/" class="btn-default__white flex-shrink-0">
          Войти
        </a>
        <a href="https://new.ckta.by/" class="btn-empty__white flex-shrink-0">
          Портал самообслуживания
        </a>
      </div>

      <div class="d-flex flex-column justify-content-center mt-40">
        <p class="mb-0 color-white">г. Минск, ул. Скорины, 8, 3 этаж</p>
        <p class="mt-2 mb-0 color-white fs-14">
          Пн-Чт: с 8:45 до 18:00
        </p>
        <p class="mt-2 mb-0 color-white fs-14">
          Пт: с 8:45 до 16:45
        </p>
      </div>
    </div>

    <div class="w-100 d-lg-block d-none">
      <nav class="header-nav">
        <a href="" rel="noopener noreferrer" class="link-header">
          Новости
        </a>
        <a href="http://ckta.by/#section1" rel="noopener noreferrer" class="link-header">
          Услуги и оплата
        </a>
        <a href="https://info-center.by/documents/dokumenty-skta/" rel="noopener noreferrer" class="link-header">
          Пользователям СККО
        </a>
        <a href="http://ckta.by/#section2" rel="noopener noreferrer" class="link-header">
          Документы
        </a>
        <a href="/faq/" rel="noopener noreferrer" class="link-header">
          База знаний
        </a>
        <a href="http://ckta.by/#section3" rel="noopener noreferrer" class="link-header">
          Контакты
        </a>
      </nav>
    </div>
  </div>
</header>