nav.breadcrumb {
  display: flex;
  gap: 0.25rem;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  @media #{$ui-bs-lg} {
    font-size: 1rem;
  }
  font-weight: 400;
  line-height: 1.3;
  @media #{$ui-bs-lg} {
    margin-top: 2.5rem;
  }

  a:nth-child(n):not(:last-child) {
    color: var(--color-gray-txt);
    transition: $transition-2;
    @include hover("color", var(--color-violet));
    &::after {
      content: "\F285";
      @extend .bootsrtap-icon;
    }
  }
  a:last-child {
    color: var(--color-black);
  }
}
