.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 11px;
  left: 12px;
  right: 12px;
  bottom: 11px;
  background-color: var(--color-gray-stroke);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  border: 2px solid transparent;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: -2px;
  bottom: -6px;
  background-color: var(--color-gray-inputs);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch-input:checked + .switch-slider {
  border: 2px solid var(--color-violet);
  background-color: transparent;
}

.switch-input:checked + .switch-slider:before {
  transform: translateX(16px);
  background-color: var(--color-violet);
}

.switch-input:checked ~ .accordion-button {
  color: var(--color-violet);
}
