.header-logo {
  &__text {
    color: var(--color-gray-txt);
    font-family: $ff-exo;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0;
    margin-bottom: 0;
    max-width: 240px;
    width: 100%;
  }
  img {
    max-width: 56px;
    max-height: 56px;
    width: 100%;
    height: 100%;
  }
}

.button-search {
  font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
  padding: 0.5rem;
  min-width: 48px;
  min-height: 48px;
}
.button-search::before {
  content: " \F52A";
}
.button-search::before {
  @extend .bootsrtap-icon;
}
.button-search {
  border-radius: 50%;
}
.button-search:not(.disabled, :disabled) {
  @include hover("background-color", var(--color-violet-hover));
  @include hover("color", var(--color-white));
}
.disabled.button-search,
.button-search:disabled {
  background-color: var(--color-gray-stroke);
  cursor: not-allowed;
}
.button-search {
  outline: 1.5px solid transparent;
  border: 1.5px solid transparent;
  box-sizing: border-box;
  transition: $transition-2;
  text-align: center;
  text-decoration: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  width: fit-content;
}

.button-search {
  background-color: var(--color-violet);
  color: var(--color-white);
}

.header {
  border-bottom: 1px solid var(--color-gray-stroke);
  padding-bottom: 16px;
}

.header-nav {
  display: flex;
  gap: 108px;
  justify-content: flex-end;
}

.link-header {
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  font-size: 16px;
  -webkit-text-decoration: underline 1px solid transparent;
  text-decoration: underline 1px solid transparent;
  text-underline-offset: 22px;
  color: var(--color-black);

  &:hover {
    -webkit-text-decoration-color: var(--color-violet);
    text-decoration-color: var(--color-violet);
    color: var(--color-violet);
  }
}
