.link-default {
  color: var(--color-violet);
  font-family: $ff-exo;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;

  transition: $transition-2;
  &-arrow {
    @media #{$mouse-device} {
      &:hover {
        &::after {
          transform: rotate(45deg);
        }
      }
    }
    &::after {
      content: "\F144";
      margin-left: 8px;
      @extend .bootsrtap-icon;
      transition: $transition-2;
    }
  }
  @media #{$mouse-device} {
    &:hover {
      color: var(--color-violet-hover);
    }
  }
}

.link-activity {
  color: var(--color-dark-violet);
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0;
  transition: $transition-2;
  @include hover("color", var(--color-black));
}

.link-black {
  color: var(--color-black);
  line-height: 130%;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  transition: $transition-2;
  @include hover("color", var(--color-dark-violet));
}

.arrow-link-back {
  color: var(--color-violet);
  font-family: $ff-exo;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  &::before {
    @extend .bootsrtap-icon;
    content: "\F12F";
    font-size: 15px;
    margin-right: 4px;
    transition: $transition-2;
  }
  @include hover("color", var(--color-violet-hover));
}
