.main-banner {
  padding: 48px;
  background-color: var(--color-gray-base);
  border-radius: 30px;
  width: 100%;

  &__text {
    max-width: 690px;
  }

  &__title {
    font-family: $ff-exo;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 34px;
    color: var(--color-violet);
    line-height: 1.3;

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }
  }

  &__img {
    width: 100%;
    flex-shrink: 1;
  }

  @media (max-width: 768px) {
    padding: 16px;
  }
}
