.default-tabs {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.default-tab {
  display: flex;
  line-height: 18px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-stroke);
  color: var(--color-gray-txt);
  border-radius: 100px;
  padding: 12px 24px;
  transition: $transition-2;

  & a {
    transition: $transition-2;
    color: var(--color-gray-txt);
  }

  &:hover a {
    background-color: var(--color-violet-hover);
    border-color: var(--color-violet-hover);
    color: var(--color-white);
  }

  &:hover {
    background-color: var(--color-violet-hover);
    border-color: var(--color-violet-hover);
    color: var(--color-white);
  }

  &.active {
    border-radius: 100px;
    padding: 12px 24px;
    background-color: var(--color-violet);
    border-color: var(--color-violet);
    color: var(--color-white);
  }
}

.tab-content {
  padding: 16px;
  border: 1px solid var(--color-gray-stroke);
  background-color: var(--color-white);
  border-radius: 20px;
}
